################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment4-FullScreenOnFPressEvent/Assignment4-FullScreenOnFPressEvent/Debug
/Assignment4-FullScreenOnFPressEvent/Debug
/Assignment5-OpenGLColorChangeOnKeyPressFullScreen/Debug
/Assignment5-OpenGLColorChangeOnKeyPressFullScreen/Assignment5-OpenGLColorChangeOnKeyPressFullScreen/Debug
/MyAssignment4-AutomaticColorChangeOpenGL/Debug
/MyAssignment4-AutomaticColorChangeOpenGL/MyAssignment4-AutomaticColorChangeOpenGL/Debug
