################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment4-FullScreenOnFPressEvent/Assignment4-FullScreenOnFPressEvent/Debug
/Assignment4-FullScreenOnFPressEvent/Debug
